<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Record</title>
</head>
<body>
<form method="post" th:object="${record}">
    <p>
    <h3>Enter Address</h3>
    <label>
        <input type=text th:field="*{address}"/>
    </label>

    <p>
    <h3>Enter Name</h3>
    <label>
        <input type=text th:field="*{people[0].name}"/>
    </label>

    <p>
    <h3>Enter Email</h3>
    <label>
        <input type=text th:field="*{people[0].email}"/>
    </label>

    <p>
        <input type="submit" value="Submit"/>
    </p>

</form>
</body>
</html>