<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<form method="post" th:object="${record}">
    <p>Edit Address</p>
    <p>
        <label>
            <input name="Address" th:value="*{address}"/>
        </label>
    </p>

    <p>Edit People</p>
    <p>
        <label th:each="person, itemStat : *{people}">
            Name: <input th:field="*{people[__${itemStat.index}__].name}"/>
            <br/>
            Email: <input th:field="*{people[__${itemStat.index}__].email}"/>
            <br/>
            <br/>
        </label>
    </p>

    <p>
        <input type="submit" value="Submit"/>
    </p>

</form>
<p>
    <a href="/app/list">Back to List</a>
</p>
</body>
</html>