<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div>
    <p>Id:</p>
    <p th:text="${record.id}">ID</p>
    <p>People:</p>
    <p th:each="pesron:${record.people}" th:text="${pesron.name} - ${person.email}"></p>
    <p>Address:</p>
    <p th:text="${record.address}">Address</p>
</div>

<p>
    <a href="/app/list">Back to List</a>
</p>
<p>
    <a href="/app">Back to Main Menu</a>
</p>
</body>
</html>